mat-card{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    direction: rtl;
    border: 1px solid #0c00b4;
    padding: 30px 30px 30px 30px;
}
mat-card:hover{
    background-color:rgb(234, 234, 234);
    border: 2px solid white;
}
.deleteButton{
    margin-right: 90%;
    color: red;
}
.added{
    color:green
}
